#root {
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.selectOption {
  min-width: 8em;
  padding: 5px;
  margin: 1rem 0;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #333;
}

.title {
  font-weight: bold;
}

.title > span {
  font-size: 0.7rem;
  font-weight: 400;
}

.selectOptionChart {
  height: 3rem;
}

.selectOptionChart * {
  cursor: pointer;
}

.mainGrid {
  width: 70%;
  min-width: 30rem;
  height: 23rem;
  min-height: 10rem;
}
